<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactos" href="#">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventario" href="#">Inventario</a>
      </li>
    </ul>

    <div class="derecha">
      <button *ngIf="!auth.isLoggedIn()" class="btn btn-outline-success" (click)="Login()">Login</button>
      <span class="name" *ngIf="auth.isLoggedIn()">
        {{ auth.userName }}
        <button class="btn btn-outline-success" (click)="Logout()">Logout</button>
      </span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>