<nav class="gradiente-navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">RC</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li class="active">
        <a class="" routerLink="/home" routerLinkActive="active" href="#">Home</a>
      </li>
      <li class="">
        <a class="" routerLink="/clientes" href="#">Clientes</a>
      </li>
      <li class="">
        <a class="" routerLink="/contactos" href="#">Contactos</a>
      </li>
      <li class="">
        <a class="" routerLink="/inventario" href="#">Inventario</a>
      </li>
    </ul>

    <div class="derecha">
      <button *ngIf="!auth.isLoggedIn()" class="btn btn-outline-success" (click)="Login()">Login</button>
      <span *ngIf="auth.isLoggedIn()">
        {{ auth.userName }}
        <a class="waves-effect waves-light btn" id="logoutButton" (click)="Logout()">Cerrar Session</a>
      </span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>