.derecha{
    position: absolute;
    right: 10px;
}

.name{
    color: white;
    font-weight: 800;
}
#logoutButton{
    margin-left: 40px;
}

#nav-mobile{
    margin-left: 50px;
}

.gradiente-navbar{
    background: #303f9f;
    background: -webkit-linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
    background: linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);  
}

