<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th>Existencia</th>
                    <th>Precio</th>
                    <th>Proveedor</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista">
                    <td>{{ item.id }}</td>
                    <td>{{ item.producto }}</td>
                    <td>{{ item.existencia }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.proveedor }}</td>
                    <td>
                        <a id="btn-tabla" class="btn btn-success" (click)="editar(item)">
                            <i class="material-icons">create</i>
                        </a>
                        <a id="btn-tabla" class="btn btn-danger" (click)="borrar(item)">
                                <i class="material-icons">delete_forever</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>