<div class="container">
    <div class="card">
        <div class="card-header">
            {{ titulo }}
        </div>
        <div class="card-body">
            <form novalidate [formGroup]= "form">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" name="" id="id" formControlName="id">
                    <div *ngIf="form.controls.id.errors && form.controls.id.touched">
                        <div *ngIf="form.controls.id.errors.required" class="alert alert-danger" role="alert">
                            El campo es requerido
                        </div>
                        <div *ngIf="form.controls.id.errors.valorUnico" class="alert alert-danger" role="alert">
                            El ID ya existe en la Base de Datos
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="producto">Producto</label>
                    <input type="text" class="form-control" name="" id="producto" formControlName="producto">
                    <div *ngIf="form.controls.producto.errors && form.controls.producto.touched">
                        <div *ngIf="form.controls.producto.errors.required" class="alert alert-danger" role="alert">
                            El campo es requerido
                        </div>
                        <div *ngIf="form.controls.producto.errors.maxlength" class="alert alert-danger" role="alert">
                            Maximo 10 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="existencia">Existencia</label>
                    <input type="number" class="form-control" name="" id="existencia" formControlName="existencia">
                    <div *ngIf="form.controls.existencia.errors && form.controls.existencia.touched">
                        <div *ngIf="form.controls.existencia.errors.required" class="alert alert-danger" role="alert">
                            El campo es requerido
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="" id="precio" formControlName="precio">
                    <div *ngIf="form.controls.precio.errors && form.controls.precio.touched">
                        <div *ngIf="form.controls.precio.errors.required" class="alert alert-danger" role="alert">
                            El campo es requerido
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="proveedor">Proveedor</label>
                    <input type="text" class="form-control" name="" id="proveedor" formControlName="proveedor">
                    <div *ngIf="form.controls.proveedor.errors && form.controls.proveedor.touched">
                        <div *ngIf="form.controls.proveedor.errors.required" class="alert alert-danger" role="alert">
                            El campo es requerido
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="guardarInventario()" [disabled]="!form.valid">Enviar</button>
                <button class="btn btn-default" (click)="limpiarFormulario()">Limpiar</button>
            </form>
        </div>
    </div>
</div>
<br>